div.menu.join-splash {
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
}
div.menu.join-splash div.text-box {
    position: absolute;
    bottom: 50%;
    width: 100%;
}
div.menu.join-splash div.btn {
    width: 80%;
    margin: 0 10%;
}
